/* Cypress v3 */

/* icons in the reporter */
.reporter .runnable-state:hover {
  font-size: 130%;
}
.reporter .runnable.test.runnable-failed .runnable-state:before {
  content: '久썶잺';
}
.reporter .runnable.test.runnable-pending .runnable-state:before {
  content: '游꾸';
}
.reporter .runnable.test.runnable-passed .runnable-state:before {
  content: '游꾻';
}
.reporter .runnable.test.runnable-active .runnable-state:before {
  content: '游꾸';
}
/* test has not started yet */
.reporter .runnable.test.runnable-processing .runnable-state:before {
  content: '游꾸';
}
.reporter .command-state-pending .command-number i:before {
  content: '游꾼游낖';
}
/* top level test counters icons */
.fa-check:before,
.reporter .runnable.runnable-passed > .runnable-wrapper .runnable-state:before {
  content: '游꾻';
}
.fa-times:before,
.reporter .runnable.test.runnable-failed .runnable-state:before {
  content: '久썶잺';
}
.fa-circle-o-notch:before,
.reporter
  .runnable.runnable-pending
  > .runnable-wrapper
  .runnable-state:before {
  content: '游꾸';
}

/* switch thumb tack icon to syringe */
.fa-thumb-tack:before {
  content: '游눌';
}

